<h1>Stupid Coaching</h1>
<div class="question">
  <h2><%= params[:question] %></h2>
  <h2 class="italic">- You</h2>
</div>
<div class="coach">
  <h2 class="answer"><%= @answer %></h2>
  <h2 class="italic">- Your Coach</h2>
</div>
<a href="/ask">Ask a new question</a>
